<h1>Authentication Form</h1>

<%# url: "/search", method: :get do %>
<%= form_for @checks, url: check_new_path do |credentials|  %>

  <div>
    <%= credentials.label :name %><br />
    <%= credentials.text_field :name %>
  </div>
  <div>
    <%= credentials.label :email %><br />
    <%= credentials.text_field :email %>
  </div>
  <div>
    <%= credentials.label :password %><br />
    <%= credentials.text_field :password %>
  </div>
  <div>
    <%= credentials.submit "Submit" %>
    
  </div>
<% end %>