<% form_with(@credentials) do |acc| %>
  <div>
    <%= acc.label :username %><br />
    <%= acc.text_field :username %>
  </div>
  <div>
    <%= acc.label :email %><br />
    <%= acc.text_field :email %>
  </div>
  <div>
    <%= acc.label :password %><br />
    <%= acc.text_field :password %>
  </div>
  <div>
    <%= acc.submit "Submit", disable_with: 'Submiting...' %>
  </div>
<% end %>